common style
/* page reset */
*{
    margin: 0;
    padding: 0;
    font-family: 'Vollkorn', serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}
ul{
    list-style-type: none;
    margin:0;
    padding:0;
}

/* 1 rem=16px  but converting 1 rem to 10px */
html{
    font-size: 62.5%;
}
/* color as variables being used */
:root{
    --primary-color: #2b81e4;
    --secondary-color: #eee;
    --white-color: #fff;
    --grey-color: #555;
    --light-grey-color:#777;

}

/* 3 value pair to perfectly center layout */
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    /* the entire back ground in header */
    background-color: var(--secondary-color);
    margin: 3.5rem; 
    /* all around container */
    box-shadow: 0 1rem 3rem var(--grey-color );
    /* hide scroll bar */
    overflow: hidden;
}
    /* end of common style */

    /* header */
.header{
    width: 100%;
    /* calc function 100vh=100% of height -7rem(top+bottom margin) */
    height: calc(100vh-7rem);    
    background: linear-gradient(rgba(18,113,225,0.5),rgba(18,113,225,0.3)), url(images/header-bg.jpg) center no-repeat;
    background-size: cover;
    /* to add the road */
    position: relative;
    /* used for 3d ballon */
    perspective: 100rem;
}
    /* holding text parent */
.header-text{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-shadow: 0 0.3rem 0.5rem var(--grey-color);
}
    /* actual text */
.heading{
    font-size: 8rem;
    color: var(--white-color)
}
    /* paragraph */
.header-paragraph{
    font-size: 3rem;
    font-weight: 500;
    color: var(--secondary-color);
    max-width: 70rem;
    margin: auto;
}
 /* position logo top right corner */
.logo{
    position: absolute;
    top: 4rem;
    right: 4rem;
}
 /* make letters in logo */
.logo h1{
    display: flex;
}
 /* review  logo */
.logo h1 span{
    font-size: 2rem;
    font-weight: 900;
    color: var(--primary-color);
    text-transform: uppercase;
    background-color: var(--white-color);
    /* width and height won't apply to inline element */
    width: 3.5rem;
    height: 3.5rem;
    margin: 0.5rem;
    /* display: block; */
    border-radius: 50%;
}
 /* logo animation */
.logo  h1 span:nth-child(1){
 animation: drop-letters 5s 0.1s infinite;
}
.logo  h1 span:nth-child(2){
    animation: drop-letters 5s 0.2s infinite;
    /* samething in multiple lines
    animation-name: drop-letters;
    animation-duration: 5s;
    animation-delay: 0.1s;
    animation-iteration-count: infinite; */
}
.logo  h1 span:nth-child(3){
 animation: drop-letters 5s 0.3s infinite;
 }
.logo  h1 span:nth-child(4){
animation: drop-letters 5s 0.4s infinite;
}
.logo  h1 span:nth-child(5){
animation: drop-letters 5s 0.5s infinite;
}
.logo  h1 span:nth-child(6){
animation: drop-letters 5s 0.6s infinite;
}
.logo  h1 span:nth-child(7){
animation: drop-letters 5s 0.7s infinite;
}
    /* logo animation more  */
@keyframes drop-letters{
    0%{
        transform: translateY(0);
    }
    10%{
        transform: translateY(0);
    }
    15%{
        transform: translateY(-100%);
    }
    20%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(0);
    }
}
.header-image{
    width: 35%;
    /* balloon floating */
    animation: image-float 150s infinite;
}
    /*make ballon float from back and forth floating  */
@keyframes image-float{
    0%{
        transform: translateZ(40rem);opacity: 1;
    }
    40%{
        transform: translateZ(-500rem) translateX(150rem);opacity: 0.8;
    }
    70%{
        transform: translateZ(-1500rem) translateX(800rem); opacity: 0.6;
    }
    80%{
        transform: translateZ(-50rem) translateX(100rem); opacity: 0.8;
    }
    100%{
        transform: translateZ(40rem); opacity: 1;
    }
}
    /* end of header */

    /* Popular tours  */
    .popular-tours{
        padding: 5rem 0 10 0;

    }
    .popular-tours-heading{
        font-size: 8rem;
        text-align: center ;
        margin-bottom: 8rem;
        color: var(--primary-color);
        text-shadow: 0 0.1rem 0.2rem var(--primary-color);
    }
    /*   */
    .cards-wrapper{
        display: flex;
        justify-content: space-evenly;

    }
    .card{
        width: 35rem;
        position: relative;
        perspective: 150rem;
    }
    .card-image{
        width: 100%;
    }
    .front-side{
        text-align: center;
        background-color: var(--white-color);
        border-radius: 0.3rem;
        position: relative;
        z-index: 10;
        opacity: 0.9;
    }
    .change > .front-side{
        transform: translateZ(-5rem) translateX(3rem);
        box-shadow: 0 2rem 4rem #777 ;
        opacity: 0.5;
        z-index: 0;
        opacity: 0.9;
        transition: 0.4s, transform 0.4s, box-shadow 0.4s;
    }
    .tour-name{
        font-size: 2.5rem;
        font-weight: 700;
        text-transform: uppercase;
        position: absolute;
        top: 30%;
        right: 1.5rem;
        color: var(--white-color);
        text-shadow: 0 0 1rem #000;
        

    }
    .card-list{
        width: 80%;
        margin: auto;
        padding: 2rem 0 3rem 0;
    }
    .card-list-item{
        font-size: 1.6rem;
        font-weight: 500;
        color: var(--light-grey-color);
        margin: 2rem 0;
        border-bottom: 0.1rem solid var(--primary-color);
        padding-bottom: 1.5rem;
    }
    .back-side{
        position: absolute;
        top: 0;
        background-color: var(--primary-color);
        width: 100%;
        height: 100%;
        border-radius: 0.3rem;
        box-shadow: 0 2rem 4rem #777 ;
        flex-direction: column;
        transform: translateZ(-5rem)translateX(3rem);
        opacity: 0.5;
        transition: 0.4s, transform 0.4s, box-shadow 0.4s;
    
    }
    .change > .back-side{
        transform: translateZ(0) translateX(0);
        box-shadow: 0 0.5rem 2rem #aaa ;
        opacity: 0.9;
    
    }
    .tour-price{
        font-size: 5rem;
        font-weight: 500;
        color: var(--white-color);
        margin-bottom: 3rem;
    }
    .card-button{
        color: var(--primary-color);
        background-color: var(--white-color);
        border: none;
        font-size: 2.5rem;
        padding: 1rem 2rem;
        line-height: 0.2rem;
        border-radius: 5rem;
        cursor: pointer;
    }
    .navigation-button{
        position: absolute;
        top: 0.5rem;
        left:0.5rem;
        padding:0.5rem;
        background-color: rgba(255,255,255,0.8);
        color: var(--light-grey-color);
        border-radius: 0.3rem;
        border:none;
        font-size: 1.5rem;
        font-weight:600;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        cursor: pointer;
    }
    /* End of popular tour */